@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    line-height: normal;
    background-color: #171923;
    box-sizing: border-box;
  }

.loginContainer{
    background: 
    url('/Images/Polygon.svg') no-repeat ,
    url('/Images/Polygon1.svg') no-repeat ,
    url('/Images/Ellipse1.svg') no-repeat ,
    url('/Images/Ellipse2.svg') no-repeat  ;
   background-size: auto;
   background-position: 10.5% 46%, 9% 50% , 70% 100%, 100% 20%;
}
